# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# IDE / OS
.vscode/
.idea/
.DS_Store
